.cover__link{
    max-width: 1184px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    color: #FFFFFF;
    margin: 0 48px;
}

@media screen and (max-width: 1024px){
    .cover__link{
        width: 100vw;
        margin: 0;
    }

}