.place__title{
   display: flex;
   justify-self: start;
   align-items: center;
   max-width: 460px;
   font-weight: 900;
   font-style: normal;
   font-size: 72px;
   line-height: 106%;
   margin: 0;
   
   }

   @media screen and (max-width: 740px){
      .place__title{
         justify-content: center;
         margin: 0 16px 56px;
         font-size: 32px;
         line-height: 106%;
       }
   }