.place__article{

    max-width: 726px;
    
  }

  @media screen and (max-width: 1100px){
    .place__article{
      max-width: 456px;
    }

  }

  @media screen and (max-width: 900px){
    .place__article{
      max-width: 352px;
    }

  }

  @media screen and (max-width: 700px){
    .place__article{
      margin: 0 16px;
    }
  }