.cover__subtitle{
    max-width: 360px;
    margin: 32px auto 0;
    z-index: 2;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    
   }

   @media screen and (max-width: 1024px){
    .cover__subtitle{
        margin: 0 332px;
        font-size: 1.76vw;
      }
   }

   @media screen and (max-width: 990px){
    .cover__subtitle{
        margin: 0 204px;
        font-size: 2.34vw;
      }
   }

   @media screen and (max-width: 740px){
    .cover__subtitle{
        margin: 16px 16px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 114%;
        text-align: center;
      }
   }

   