.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1184px;
    min-height: 52px;
    margin: 0 auto;
    padding-top: 28px;
    
  }

  @media screen and (max-width: 320px){
    .header{
      max-width: 288px;
      min-height: 42px;
      margin: 0 auto;
      padding-top: 16px;
    }
  }