.header__link {
    width: 29px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 117%;
    text-decoration: none;
    margin-right: 18px;
}

.header__link:hover {
    opacity: .8;
}

@media screen and (max-width: 320px) {
    .header__link {
        font-size: 18px;
        line-height: 111%;
    }
}