.cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1184px;
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)) , url(../../images/__background.jpg);
    background-size:cover;
    z-index: 0;
   
   }
  
   .cover:hover{
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)) , url(../../images/__background.jpg);
   }

   @media screen and (max-width: 1024px){
    .cover{
        width: 100%;
        margin: 0;
      }

   }

   @media screen and (max-width: 740px){
    .cover{
        width: 100%;
        min-height: 200px;
        margin-top: 66px;
      }
    
   }