.place__heading-url {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 352px;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .place__heading-url {
        margin: 0 16px 32px;
    }
}

@media screen and (max-width: 320px) {
    .place__heading-url {
        align-self: flex-start;
    }
}