.place__website {
    color: #FFFFFF;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
}

.place__website:hover {
    opacity: .8;
}

@media screen and (max-width: 764px) {
    .place__website {}
}

@media screen and (max-width: 320px) {
    .place__website {
        align-self: flex-start;
    }
}