.place__website{
    display: flex;
    justify-self: start;
    align-items: flex-end;
    color: #cccccc;
    max-width: 484px;
    margin: 0;
   }

   .place__website:hover{
       opacity: .8;

   }

   @media screen and (max-width: 740px){
    .place__website{
        max-width: 288px;
        margin: 0 auto 32px;
       }
   }