.intro__title{
    width: 100%;
    font-style: normal;
    font-size: 54px;
    line-height: 109%;
    margin: 0;
    overflow: hidden;
   }

   @media screen and (max-width: 320px){
    .intro__title{
        font-style: normal;
        font-size: 32px;
        line-height: 109%;
       }
   }